body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #87CEEB;
    height: 100vh;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #87CEEB;
}

#player {
    position: absolute;
    width: 50px;  /* Karakterin genişliğini ayarla */
    height: auto;
    left: 50px;
    bottom: 50%;
    border-radius: 50%;  /* Yuvarlak görünüm için */
}

.pipe {
    position: absolute;
    width: 80px;
    background-color: #228B22;
}

.top {
    height: 200px;
    top: 0;
}

.bottom {
    height: 200px;
    bottom: 0;
}
