body {
    margin: 0;
    background: #87CEEB;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #FF0000;
    bottom: 50px; /* Başlangıç yüksekliği */
    left: 50px;  /* Başlangıç konumu */
}

.platform {
    position: absolute;
    width: 100px;
    height: 20px;
    background: #654321;
}
